:root {
  --main-bg-color: #282c34;
  --font-color-white: #fff;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-bg-color);
  color: var(--font-color-white);
  min-height: 100vh;
}
