:root {
  /* Colors */
  --primary: #8b5cf6;
  --secondary: #4c1d95;
  --accent: #cec2fd;
  --dark: #575757;
  --light: #f5f3ff;
  --main-bg-color: #282c34;
  --white: #fff;

  /* scale for small screens */
  --ms-small-1: 1rem;
  --ms-small-2: 1.2rem;
  --ms-small-3: 1.44rem;
  --ms-small-4: 1.728rem;
  --ms-small-5: 2.074rem;
  --ms-small-6: 2.488rem;

  /* scale for large screens */
  --ms-large-1: 1rem;
  --ms-large-2: 1.333rem;
  --ms-large-3: 1.777rem;
  --ms-large-4: 2.369rem;
  --ms-large-5: 3.157rem;
  --ms-large-6: 4.209rem;

  /* screen size breakpoints */
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-laptop: 1024px;
  --bp-desktop: 1200px;

  --main-font: "Space Mono", monospace, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-bg-color);
  color: var(--white);
}

body > * {
  margin: 0;
}
